{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": false,
    "node": true
  },
  "globals": {
    "window": true,
  },
  "plugins": [
    "react",
    "react-native",
  ],
  "rules": {
    "comma-dangle": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "key-spacing": [2, {
      "singleLine": {
        "beforeColon": false,
        "afterColon": true
      },
      "multiLine": {
        "beforeColon": false,
        "afterColon": true,
        "align": "colon"
      }
    }],
    "no-console": 1,
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true
      }
    }],
    "import/no-extraneous-dependencies": "off",
    "react-native/no-unused-styles": 2,
    "no-return-assign": 0,
    "react/jsx-boolean-value": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "class-methods-use-this": "off",
    "global-require": "off"
  }
}
